<!DOCTYPE html>
<html>
  <head>
    <title>LyonEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
     <%= link_to "Home", root_path %>
     <%= link_to "Creer un event", event_index_path %>
     <% if user_signed_in? %>
     <%= link_to "Mon profil", root_path %>
     <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
     <% else %>
     <%= link_to "S'inscrire", new_user_registration_path %>
     <%= link_to "Se connecter", new_user_session_path %>

     <% end %>
     

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= debug user_signed_in? %>
    <%= debug session.to_hash %>

 </body>
</html>
